<h1>Dear <%= @user.username %>,</h1>
<p>
  You have requested to reset your password.
  
  Here is the user uuid: <%= @user.uuid %>
  Here is the reset token: <%= @user.reset_token %>

  Good luck! :)
  rails-identity
</p>
